<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; let i = index" [attr.data-index]="i">
          <th scope="row">{{i}}</th>
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.description}}</td>
          <td>Actions</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-client-item></app-client-item>
</div>